<h2 class="p-8 mt-2 flex justify-center font-satisfy text-violet-800 text-5xl">{{formTitle}}</h2>
<mat-dialog-content>
  <div class="font-montserrat mt-10 w-full sm:mx-auto sm:w-full sm:max-w-sm">
      <form [formGroup]="form" class="space-y-6 p-3">

        <mat-form-field class="w-full mb-3">
          <mat-label>Título</mat-label>
          <input maxlength="50" matInput formControlName="title" />
          <mat-error *ngIf="form.get('title')?.invalid">Título é obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="w-full mb-3">
          <mat-label>Texto</mat-label>
            <textarea maxlength="300" matInput formControlName="text" placeholder="Insira uma descrição para o seu afazer" rows="5"></textarea>
          <mat-error *ngIf="form.get('text')?.invalid">Insira uma descrição para o seu afazer</mat-error>
        </mat-form-field>

        <mat-form-field class="w-full mb-3">
          <mat-label>Prioridade</mat-label>
          <mat-select
            formControlName="priority"
            [value]="priorities[0].value">
            @for (priority of priorities; track priority) {
              <mat-option [value]="priority.value">{{priority.viewValue}}</mat-option>
            }
          </mat-select>
          <mat-error *ngIf="form.get('priority')?.invalid">Defina uma prioridade</mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Defina uma data para o afazer</mat-label>
          <input formControlName="dueDate" matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.get('dueDate')?.invalid">Insira uma data para o seu afazer</mat-error>
        </mat-form-field>
      </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button
    mat-button
    color="primary"
    [disabled]="form.invalid"
    (click)="onSubmit()"
    >
    Enviar
  </button>
</mat-dialog-actions>
