<h1>Lista de Usuário</h1>

@for (usuario of listaUsuarios; track usuario.id){
  <mat-card>
    <mat-card-header>
      <mat-card-title>id: {{usuario.id}} </mat-card-title>
      <mat-card-subtitle>Nome: {{usuario.nome}} -- Email: {{usuario.email}} -- Senha: {{usuario.senha}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button (click)="editar(usuario)">Editar</button>
      <button mat-button (click)="excluir(usuario)">Excluir</button>
    </mat-card-actions>
  </mat-card>

}
