


<div>
  <h1>Cadastro de Usuário</h1>
<mat-form-field>
<input matInput [(ngModel)] = "usuario.nome">
</mat-form-field>
<br>

<mat-form-field>
  <input matInput [(ngModel)] = "usuario.email">
</mat-form-field>
<br>

<mat-form-field>
<input matInput [(ngModel)] = "usuario.senha">
</mat-form-field>
<br>

<button mat-button (click) = "cadastrar()">Enviar</button>
</div>

<div>
@for (usuario of listaUsuarios; track usuario.getId()){
  <li>{{usuario.getNome()}} - id: {{usuario.getId()}}</li>
}
</div>
