<h1>Cadastro de Usuário</h1>

<mat-form-field>

<input matInput [(ngModel)] = "usuario.nome" placeholder = "Nome">
</mat-form-field>
<br>

<mat-form-field>
  <input matInput [(ngModel)] = "usuario.email" placeholder = "Email">
</mat-form-field>
<br>

<mat-form-field>
<input matInput [(ngModel)] = "usuario.senha" placeholder = "Senha">
</mat-form-field>
<br>

<button (click) = "cadastrar()">Enviar</button>

@for (usuario of listaUsuarios; track usuario.getId()){
  <li>{{usuario.getNome()}}</li>
}
