<mat-card class="{{cardColor}} shadow-md rounded-lg p-4 relative overflow-y-auto !min-w-[30rem] !max-w-[90rem] !h-[26rem] font-montserrat">
  <div class="flex justify-end items-center space-x-2.5 mb-3">
    <mat-label class="text-md font-medium text-violet-900">Feito</mat-label>
    <mat-slide-toggle (toggleChange)="toggleSwitch()" [checked]="task.status === 'feito'"/>
  </div>
  <div>
    <h3 class="todo-title text-lg font-semibold text-gray-700">
      {{task.titulo}}
    </h3>
    <div class="mt-4">
      <p class="text-justify text-lg text-black-500">
        <span class="todo-text">
          {{task.descricao}}
        </span>
      </p>
    <div class="mt-auto absolute bottom-4 left-4">
        @if (task.dueDate) {
          <p class="mt-4 text-sm text-gray-500">
            <span class="font-bold">Data do Afazer: </span>
            <span class="todo-date">
              {{task.dueDate | date}}
            </span>
          </p>
        }
        <p class="mt-4 text-sm text-gray-500">
          <span class="font-bold">Criado em: </span>
          <span class="todo-created-at">{{task.dataCriacao | date}}</span>
        </p>
      </div>
    </div>
    <div class="absolute bottom-4 right-4 inline-flex">
      <span class="mx-0.5">
        <button (click)="openEditTaskDialog()" mat-button>
          <mat-icon
          class="!m-auto !text-gray-600"
          >edit</mat-icon>
        </button>
      </span>
      <span class="mx-0">
        <button (click)="openDeleteTaskDialog()" mat-button>
          <mat-icon
          class="!m-auto !text-gray-600"
          >delete</mat-icon>
        </button>
      </span>
    </div>
  </div>
</mat-card>
