
<h1>Cadastro de Usuário</h1>
<div>



  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)] = "usuario.nome">
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)] = "usuario.email">
  </mat-form-field>
  <br>


  <mat-form-field>
    <mat-label>Senha</mat-label>
    <input matInput [(ngModel)] = "usuario.senha">
  </mat-form-field>
  <br>

  <button mat-icon-button color="primary" (click) = "cadastrar()"><mat-icon>add</mat-icon></button>
</div>
